* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 15px rgba(35, 38, 49, 0.25);

}

.App-header a {
  color: black;
}

header ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;

}

header ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  
}

header a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

header p {
  padding-left: 20px;
  padding-right: 20px;
}

.reactLogo {
  width: auto;
  height: 40px;
  color: #61DBFB;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.usuario {
  color: rgb(116, 111, 111);
}

.icon {
  color: black;
}

.contador {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: red;
  width: 25%;
  border-radius: 20%;
  color: white;
  left: 32px;
  top: 13px;
  font-size: 13px;
}
